{% extends "base.html" %}    
{% block content %}
<h1>New Blog Entry!</h1>
<div>
    <form method='POST' action='/blog'>
        <label>
            Blog title:
            <input type='text' name='name' {% if name %} value='{{name}}' {% endif %} >
        </label>
        <label>
            Blog content:
            <textarea type='text' name='content' >{% if content %}{{content}}{% endif %}</textarea>
        </label>
        <input type='submit' value='Add this blog' action='/blog'>
    </form>
    {% if unfilled %}
    <p class='error'>Please enter text in all fields before submission!
    </p>
    {% endif %}
</div>

{% endblock %}